.web {
  color: var(--accent-color);
}
.logo {
  margin: 16px auto 16px 0;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: black;
  text-decoration: none;
  display: inline-block;
}
