:root {
  --primary-text-color: #757575;
  --primary-heading-color: #212121;
  --accent-color: #2196f3;
  --primary-bacground-color: #f5f4fa;
  --secondary-text-color: #ffffff;
  --secondary-background-color: #2f303a;
  --main-font: "Roboto", sans-serif;
}
